<%= form_for @reservation do |res| %>
  <p>
    <%= res.label :email %><br />
    <%= res.text_field :email %>
  </p>
  <p>
    <%= res.label :reservation_date %><br />
    <%= res.datetime_select :reservation_date, start_year: 2015, end_year: 2016, start_hour: 12, end_hour: 22, minute_step: 30 %>
  </p>

  <p>
    <%= res.label :message %><br />
    <%= res.text_area :msg %>
  </p>
  <%= res.hidden_field :restaurant_id %>
  <p><%= res.submit "Submit" %></p>
<% end %>
