<h1>List of Reservations</h1>
<% if current_user && current_user.owner? %>
  <%= link_to 'Dashboard', dashboard_path %>
  <%= link_to 'New Restaurant', new_restaurant_path %>
  <%= link_to 'Show all reservations', reservations_path %>
<% end %>
<p>
<table>
  <tr>
    <th>Restaurant</th>
    <th>Date</th>
    <th>Message</th>
    <th>E-Mail</th>
  </tr>

  <% @reservations.each do |r| %>
    <tr>
      <td></td>
      <td><%= r.reservation_date.strftime('%a %d %b %Y, %H:%Mh') %></td>
      <td><%= r.msg %></td>
      <td><%= r.email %></td>
      <td><%= link_to "Mark as Confirmed", r, :notice => "Confirmed!", :method => :delete %>
    </tr>

  <% end %>
  </table>
<%= link_to 'Back', restaurants_path %>
