<h1>List of Restaurants</h1>
<% if current_user %>
  <%= link_to 'New Restaurant', new_restaurant_path %>
  <%= link_to 'Show all reservations', reservations_path %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @restaurants.each do |r| %>
    <tr>
      <td><%= r.name %></td>
      <td><%= r.description %></td>
      <td><%= link_to "Show", restaurant_path(r) %></td>
      <% if current_user %>
        <td><%= link_to "Edit", edit_restaurant_path(r) %></td>
        <td><%= link_to "Delete", r, :confirm => "Are you sure?", :method => :delete %></td>
      <% end %>

    </tr>
  <% end %>
  </table>
