<h1>List of Restaurants</h1>
<% if current_user %>
  <%= link_to 'New Restaurant', new_restaurant_path %>
  <%= link_to 'Show all reservations', reservations_path %>
<% end %>

<table width="1000">
  <tr>
    <th width="10%">Name</th>
    <th width="70%">Description</th>
  </tr>

  <% @restaurants.each do |r| %>
    <tr>
      <td><%= r.name %></td>
      <td><%= r.description %></td>
      <td width="50"><%= link_to "Show", restaurant_path(r) %></td>
      <% if current_user && r.user_id == current_user.id %>
        <td width="40"><%= link_to "Edit", edit_restaurant_path(r) %></td>
        <td width="50"><%= link_to "Delete", r, :confirm => "Are you sure?", :method => :delete %></td>
      <% end %>

    </tr>
  <% end %>
  </table>
